html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


p, ul {
  text-align: center;
  }

ul {
    padding-left: 0;
    list-style-position: inside;}
  

h1, h3 {
background: linear-gradient(90deg, #13c8cf, #2828a7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

main{ 
  background-color: #043653;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

aside{
  background-color: #468ea7;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  border-radius: 15px;
}




